In [6]:
#import dependencies
import pandas as pd
import csv
import os

In [2]:
#csv path
csv_path = ("/Users/kelseyabbey/Documents/Data Analytics/Module 3 Challenge/python-challenge/PyBank/Resources/budget_data.csv")

#import csv file as dataframe
pybank_df = pd.read_csv(csv_path, encoding = "utf8")

pybank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [8]:
header = list(pybank_df.columns)
print(header)

['Date', 'Profit/Losses']

In [3]:
#total months
total_months = len(pybank_df)
print(total_months)

86

In [5]:
#net total of profit/losses
net_total = pybank_df["Profit/Losses"].sum()
print(net_total)

22564198

In [ ]:
#average changes in profit/losses
#greatest profit increase
#greatest profit decrease
#create new columns to easily calculate the difference
pybank_df["NextRow_Profit/Losses"] = pybank_df

In [ ]:
#results printed to terminal & exported via txt file